@font-face
  font-style: normal
  font-family: "LatinModern-Math"
  src: local("LatinModern-Math"), url("../lib/fonts/LatinModern-Math.otf") format("truetype")

@font-face
  font-style: normal
  font-family: "Monaco"
  src: local("Monaco"), url("../lib/fonts/Monaco.ttf") format("truetype")

@font-face
  font-style: normal
  font-family: "UbuntuMono"
  src: local("UbuntuMono"), url("../lib/fonts/UbuntuMono.ttf") format("truetype")

@font-face
  font-style: normal
  font-family: "Marcellus-SC"
  src: local("Marcellus-SC"), url("../lib/fonts/Marcellus-SC.ttf") format("truetype")

p {
  b {
    font-size: 0.95em; 
    font-family: monospace; 
  }
  strong { 
    font-size: 0.95em;
    font-family: monospace; 
  }
  inc {
    font-family: $font-family-mono;
    font-size: $font-size
  }
  text-align: justify;
  word-break: break-all;
}

.vol { font-size: 1.1em; }

.scroll {
  margin-top: -1em;
  margin-bottom: -1em;
  margin-left: 0.5em;
  white-space: nowrap;
  overflow-x: scroll;
}

::-webkit-scrollbar {
  height: 6px;
  background-color: rgba(240, 240, 240, 0);
}
