.jetbrains-mono-100 {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.jetbrains-mono-400 {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.manufacturing-consent-regular {
  font-family: "Manufacturing Consent", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;

  font-family: KaTeX_Main, serif;
  font-size: 20px;
}

ul {
  list-style-type: circle;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#content {
  width: 21cm;
  padding: 1.25cm 1.5cm 0cm 1.5cm;
}

#social {
  color: silver;
  font-size: 18px;
  vertical-align: -0.2em;
  margin-left: 0.5em;
}

.no-print {
  display: inline;
}

@media only screen and (max-width: 1000px) {
  #content {
    padding: 0.1cm;
  }
}

@media print {
  body {
    font-size: 12pt;
  }

  .no-print {
    display: none;
  }
}

.katex {
  font: normal 1em KaTeX_Main, Times New Roman, serif;
  line-height: 1rem;
  text-indent: 0;
  text-rendering: auto;
}
